<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag("logo.svg", alt: "Reddit logo", width: "100", height: "25", class: "d-inline-block align-text-top") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex ms-auto">
        <%= form_with url: subreddits_search_path, class: 'd-flex' do |form| %>
          <%= form.search_field :search, class: "form-control me-2" %>
          <%= form.submit value: 'search', class: 'btn btn-outline-success' %>
        <% end %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path, class: 'dropdown-item' %></li>
              <% end %>

              <!--              <li><a class="dropdown-item" href="#">Another action</a></li>-->
              <!--              <li>-->
              <!--                <hr class="dropdown-divider">-->
              <!--              </li>-->
              <!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>